:root {
  --title-color: #212121;
  --text-color: #757575;
  --link-color: #2196F3;
  --white-color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--white-color);

  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

/* Header */

.logo {
  color: #000000;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo span {
  color: var(--link-color);
}

.contacts .link,
.main-nav .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.main-nav .link {
  color: var(--title-color);
}

.link:hover,
.link:focus,
.link.active {
  color: var(--link-color);
}

/* Main */

/* Hero */
.hero {
  background-color: #2F303A;
}

.hero h1 {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  background: #2196F3;
  color: var(--white-color);

  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Advantages */

.advantages-title {
  color: var(--title-color);
  
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.advantages-text {
  line-height: 1.7;
}

/* Directions */
.team-title,
.directions-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Team */
.team-position,
.team-name {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-name {
  color: var(--title-color); 

  font-weight: 500;
}
/* Portfolio */

.portfolio .button {
  color: var(--title-color);
  background-color: #F5F4FA;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--white-color);
  background-color: var(--link-color);
}

.portfolio-title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

/* Footer */
.footer {
  background-color: #2F303A;
}

.address .link{
  line-height: 24px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.link.street,
.footer .studio {
  color: var(--white-color);
}